
<!DOCTYPE html>
<html>
<head>
<style>
.Title { grid-area: title; }
.Honrouable { grid-area: mentions; }
.number1 { grid-area: number1; }
.number2 { grid-area: number2; }
.number3 { grid-area: number3; }
.top-10 { grid-area: top-10; }

.grid-container {
  display: grid;
  grid-template-areas:
    'title title number1 number1  top-10 top-10'
    'title title number2 number2  top-10 top-10'
    'title title number3 number3  top-10 top-10'
    'mentions mentions mentions mentions top-10 top-10';
  gap: 3px;
  background-color: #2196F3;
  padding-left: 50px;
padding-top: 50px;
padding-bottom: 10px;
padding-right: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
}
</style>
</head>
<body>

<h1>Grid Layout</h1>

<p>This grid layout contains six columns and three rows:</p>

<div class="grid-container">
  <div class="Title">Title</div>
  <div class="Honrouable">Honourable</div>
  <div class="number1">1st</div>  
  <div class="number2">2nd</div>
  <div class="number3">3rd</div>
  <div class="top-10">top</div>  
</div>

</body>
</html>






















/*will target all the <a> elements (which are represented by the <Link> components) inside the element with the navbar class. */


.Anime {
  padding-top: 50px;
}

.Anime a {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  width: 250%;
  padding: 12%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;

  font-size: 17px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}


/*ranking*/
.Anime a:before {
  content: attr(name);
  padding: 16px 24px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 5;
  background-color: #323232;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.imagess{
  background-image: url('../../Assets/Image buttons/bloodblockadebattlefront.png');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center center; 
 width: 100px; 
 height: 50px;
}

/*image*/
.Anime a:after {
  content: "";
  padding: 16px 24px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
}
/* 1-10 Hover Rules */

/*image on the side*/
.Anime a.one:hover:after {
  top: 0;
}.Anime a.one:after { 
  background-image: url('../../Assets/Image buttons/SteinsGate.png');
  background-repeat: no-repeat;
  background-size: contain;
}


/*number n the side*/
.Anime a.one:hover:before {
  top: 0;
}.Anime a.one:before { /**/
  content: attr(name);
  background-color: #e7cf48;
  color: #ffffff;
}

.Anime a.two:hover::before {
  top: 0;
  background-image: url('');
}
.Anime a.two:before {
  content: attr(name);
  background-color: #6f6f6f;
  padding: 16px 24px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 5;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.Anime a.three:hover::before {
  top: 0;
  background-image: url('');
}
.Anime a.three:before {
  content: attr(name);
  background-color: #b2795c;
  padding: 16px 24px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 5;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.Anime a.four:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.five:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.six:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.seven:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.eight:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.nine:hover::before {
  top: 0;
  background-image: url('');
}

.Anime a.ten:hover::before {
  top: 0;
  background-image: url('');
}


/* Media queries for smaller screens */
@media only screen and (max-width: 800px) {
    .Anime a {
      font-size: 15px;
      width: 250%;
      transition: 1s;
    }
    
  }

@media only screen and (max-width: 745px) {
    .Anime a {
      font-size: 15px;
      width: 250%;
      left: -50px;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 650px) {
    .Anime a {
      font-size: 12px;
      width: 230%;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 540px) {
    .Anime a {
      left: -60px;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 520px) {
    .Anime a {
      left: -70px;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 505px) {
    .Anime a {
      left: -70px;
      font-size: 12px;
      width: 200%;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 450px) {
    .Anime a {
      left: -100px;
      font-size: 10px;
      width: 200%;
      transition: 1s;
    }
  }


  