.logo {
  size: 20px;
  width: 50px;
  padding-left: 50px;
}

.container2 {
  width: 100%;
  height: 100vh;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border-color: #000000;
}

.box {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.block1 {
  width: 0%;
  height: inherit;
  background: #000000;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
}

.Firsttext {
  font-family: 'Poppins';
  color: #000000;
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.block {
  width: 0%;
  height: inherit;
  background: #000000;
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
}

.sectext {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: 'Lato';
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}




@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }

  50% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }

  50% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

/*button pfps*/

.button-container {
  display: flex;
  flex-direction: row;
}

/*red pfps*/

.pfpRed {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #000000;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
  margin-right: 10px;
  z-index: 2;
  overflow: visible;
  transition: 2s;
}

.pfpRed:hover {
  transform: rotate(45deg);
  box-shadow: 0 0 1px 5px rgba(58, 1, 1, 0.815), 0 0 1px 10px rgba(255, 0, 0, 0.426), 0 0 1px 15px rgba(210, 4, 4, 0.382);
  z-index: 2;
  transition: 1s;
}

.pfpRed img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.redBar {
  position: absolute;
  top: -3%;
  left: 90%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  background-color: #ff0000;
  height: 15px;
  width: 1px;
  opacity: 0;
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.pfpRed:hover .redBar {
  transform: translateY(-50%) scaleX(1);
  transform: rotate(-45deg);
  background-color: #ffffff;
  width: 100px;
  opacity: 1;
  z-index: 1;
  transition: 2s;
  box-shadow: 0 0 1px 5px rgba(58, 1, 1, 0.815), 0 0 1px 10px rgba(255, 0, 0, 0.426), 0 0 1px 15px rgba(210, 4, 4, 0.382);
}

.pfpRed:hover .redBar span {
  display: block;
}

.redBar span {
  display: none;
}

/*blue pfps*/

.pfpBlue {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #000000;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
  margin-right: 10px;
  z-index: 2;
  overflow: visible;
  transition: 2s;
  left: 0;
}

.pfpBlue:hover {
  transform: rotate(55deg);
  box-shadow: 0 0 1px 5px rgba(7, 47, 223, 0.815), 0 0 1px 10px rgba(30, 5, 174, 0.426), 0 0 1px 15px rgba(38, 3, 144, 0.382);
  z-index: 2;
  transition: 1s;
}

.pfpBlue img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.blueBar {
  position: absolute;
  top: -17%;
  left: 83%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  background-color: #2b00ff;
  height: 15px;
  width: 1px;
  opacity: 0;
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.pfpBlue:hover .blueBar {
  transform: translateY(-50%) scaleX(1);
  transform: rotate(-55deg);
  background-color: #ffffff;
  width: 100px;
  opacity: 1;
  z-index: 1;
  transition: 2s;
  box-shadow: 0 0 1px 5px rgba(7, 47, 223, 0.815), 0 0 1px 10px rgba(30, 5, 174, 0.426), 0 0 1px 15px rgba(38, 3, 144, 0.382);
}

.pfpBlue:hover .blueBar span {
  display: block;
}

.blueBar span {
  display: none;
}


/*Yellow pfps*/

.pfpYellow {
  left: 0;
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #000000;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
  margin-right: 10px;
  z-index: 2;
  overflow: visible;
  transition: 2s;
}

.pfpYellow:hover {
  transform: rotate(45deg);
  box-shadow: 0 0 1px 5px rgb(253, 251, 124), 0 0 1px 10px rgba(197, 194, 13, 0.722), 0 0 1px 15px rgba(200, 196, 2, 0.459);
  z-index: 2;
  transition: 1s;
}

.pfpYellow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.yellowBar {
  position: absolute;
  top: -3%;
  left: 90%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  background-color: #f6ff00;
  height: 15px;
  width: 1px;
  opacity: 0;
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.pfpYellow:hover .yellowBar {
  transform: translateY(-50%) scaleX(1);
  transform: rotate(-45deg);
  background-color: #ffffff;
  width: 100px;
  opacity: 1;
  z-index: 1;
  transition: 2s;
  box-shadow: 0 0 1px 5px rgb(253, 251, 124), 0 0 1px 10px rgba(197, 194, 13, 0.722), 0 0 1px 15px rgba(200, 196, 2, 0.459);
  z-index: 2;
  transition: 1s;
}

.pfpYellow:hover .yellowBar span {
  display: block;
}

.yellowBar span {
  display: none;
}


/*Green pfps*/

.pfpGreen {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #000000;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
  margin-right: 10px;
  z-index: 2;
  overflow: visible;
  transition: 2s;
  left: 0;
}

.pfpGreen:hover {
  transform: rotate(45deg);
  box-shadow: 0 0 1px 5px rgba(98, 255, 119, 0.815), 0 0 1px 10px rgba(87, 253, 61, 0.426), 0 0 1px 15px rgba(34, 170, 0, 0.382);
  z-index: 2;
  transition: 1s;
}

.pfpGreen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}



.greenBar {
  position: absolute;
  top: -3%;
  left: 90%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  background-color: #40ff3a;
  height: 15px;
  width: 1px;
  opacity: 0;
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.pfpGreen:hover .greenBar {
  transform: translateY(-50%) scaleX(1);
  transform: rotate(-45deg);
  background-color: #ffffff;
  width: 100px;
  opacity: 1;
  z-index: 1;
  transition: 2s;
  box-shadow: 0 0 1px 5px rgba(98, 255, 119, 0.815), 0 0 1px 10px rgba(87, 253, 61, 0.426), 0 0 1px 15px rgba(34, 170, 0, 0.382);
}

.pfpGreen:hover .greenBar span {
  display: block;
}

.greenBar span {
  display: none;
}

/*Purple pfps*/

.pfpPurple {
  position: relative;
  z-index: 2;
  width: 60px;
  height: 60px;
  color: #000000;
  background: #000000;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
  margin-right: 10px;
  /* Add spacing between the buttons */
  overflow: visible;
  transition: 2s;
  left: 0;
}

.pfpPurple:hover {
  transform: rotate(45deg);
  z-index: 2;
  transition: 1s;
  box-shadow: 0 0 1px 5px rgba(71, 5, 138, 0.815), 0 0 1px 10px rgba(79, 2, 155, 0.426), 0 0 1px 15px rgba(60, 2, 104, 0.382);
}

.pfpPurple img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.purpleBar {
  position: absolute;
  top: -3%;
  left: 90%;
  transform-origin: left center;
  transform: translateY(-50%) scaleX(0);
  background-color: #840090;
  height: 15px;
  width: 1px;
  opacity: 0;
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.pfpPurple:hover .purpleBar {
  transform: translateY(-50%) scaleX(1);
  transform: rotate(-45deg);
  background-color: #ffffff;
  width: 100px;
  opacity: 1;
  z-index: 1;
  transition: 2s;
  box-shadow: 0 0 1px 5px rgba(71, 5, 138, 0.815), 0 0 1px 10px rgba(79, 2, 155, 0.426), 0 0 1px 15px rgba(60, 2, 104, 0.382);
}

.pfpPurple:hover .purpleBar span {
  display: block;
}

.purpleBar span {
  display: none;
}