.container2 {
    width: 100%;
    height: 100vh;
    background: #232323;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border-color: #363636;
}
  
    .box {
      width: 250px;
      height: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

      .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
      }
        .block1 {
          width: 0%;
          height: inherit;
          background: #ffffff;
          position: absolute;
          animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          display: flex;
        }
  
        .Firsttext {
          font-family: 'Poppins';
          color: #fff;
          font-size: 32px;
          -webkit-animation: mainFadeIn 2s forwards;
          -o-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.6s;
          opacity: 0;
          display: flex;
          align-items: baseline;
          position: relative;
        }

      .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: -10px;
      }
        .block {
          width: 0%;
          height: inherit;
          background: #ffffff;
          position: absolute;
          animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          display: flex;
        }
  
        .sectext {
          animation: secFadeIn 2s forwards;
          animation-delay: 3.2s;
          opacity: 0;
           font-weight: 400;
          font-family: 'Lato';
          color: #ffffff;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 5px;
        }

  
  
  
  
  
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes secBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }



/*Darkmode version*/

.container2 {
    width: 100%;
    height: 100vh;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border-color: #000000;
}
  
    .box {
      width: 250px;
      height: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

      .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
      }
        .block1 {
          width: 0%;
          height: inherit;
          background: #000000;
          position: absolute;
          animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          display: flex;
        }
  
        .Firsttext {
          font-family: 'Poppins';
          color: #000000;
          font-size: 32px;
          -webkit-animation: mainFadeIn 2s forwards;
          -o-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.6s;
          opacity: 0;
          display: flex;
          align-items: baseline;
          position: relative;
        }

      .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: -10px;
      }
        .block {
          width: 0%;
          height: inherit;
          background: #000000;
          position: absolute;
          animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          display: flex;
        }
  
        .sectext {
          animation: secFadeIn 2s forwards;
          animation-delay: 3.2s;
          opacity: 0;
           font-weight: 400;
          font-family: 'Lato';
          color: #000000;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 5px;
        }



        
      
      .button-container {
        display: flex;
        flex-direction: row;
      }
      
      .plus {
        position: relative;
        z-index: 1;
        width: 40px;
        height: 40px;
        color: #1a1a1a;
        background: #ed1c5b;
        border-radius: 50%;
        border: none;
        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
        margin-right: 10px; /* Add spacing between the buttons */
      }
      
      .plus:hover {
        transform: rotate(45deg);
        box-shadow: 0 0 1px 15px rgba(0, 0, 0, 0.25), 0 0 1px 30px rgba(255, 0, 0, 0.25),  0 0 1px 30px rgba(252, 0, 0, 0.625);
      }
      

      .logo{
        size: 20px;
        width: 50px;
      }
        
