
  .horror{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .media {
    padding-top: 50px;
    position: absolute;
    display: flex;
padding-left: 240px;
  }

  

  
  @media screen and (min-width: 768px) {
    .media {
      width: 30%;
      height: 30%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .media {
      width: 20%;
      height: 20%;
    }
  }