
  .horror{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .media {
    position: absolute;
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center child elements vertically */
    width: 100%; /* Take up full width of parent element */
    height: 100%; /* Take up full height of parent element */
  }
