

.navbar {
  position: fixed;
  top: 0;
  left: -2000px; /* Change this to adjust the initial position */
  width: 200px; /* Change this to adjust the width of the box */
  height: 820px;
  background-color: rgba(51, 44, 44, 0.5); /* Change this to adjust the background color and transparency */
  color: white;
  padding: 20px;
  transition: left 0.5s ease-in-out;
  z-index: 1;
  transition: 1s;
  }

  .navbar.visible {
    left: 0;
  }
  
  .navbar a {
position: relative;
display: block;
padding: 10px 30px;
border: 2px solid #00aeff;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 4px;
color: #00aeff;
text-decoration: none;
  }


a.active {
  color: #000000;
  background-color: #ffffff;
}

.navbar a:hover {
  background-color: #00FFA9;
  color: #2E3631;
  transition: 0.5s ease-in;
}


.navbutton {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 50px;
      background-color: green;
      border: 2px solid white;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      transition: left 0.5s ease-in-out;
  z-index: 2;
  transition: 1s;
      }
    
.navbutton:hover {
    transform: translateY(2px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    
    .navbutton.visible {
      position: relative;
      left: 250px;
      transition: left 0.5s ease-in-out;
  z-index: 2;
  transition: 1s;
    }

    .dark-button.visible {
      position: relative;
      left: 250px;
      transition: left 0.5s ease-in-out;
  z-index: 2;
  transition: 1s;
    }

    .container.visible {
      position: relative;
      margin: 50px;
      margin-left: 300px;
      transition: left 0.5s ease-in-out;
  z-index: 2;
  transition: 1s;
    }


    .dark-button{
      position: relative;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 50px;
      background-color: rgb(255, 255, 255);
      border: 2px solid rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      transition: left 0.5s ease-in-out;
  z-index: 2;
  transition: 1s;

    }


 