
/*will target all the <a> elements (which are represented by the <Link> components) inside the element with the navbar class. */


.Anime {
  padding-top: 50px;
}

.Anime a {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  width: 10000%;
  padding: 12%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;

  font-size: 17px;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}


/*ranking*/
.Anime a:before {
  content: attr(name);
  padding: 16px 24px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 1;
  background-color: #323232;
  transition: all 1s cubic-bezier(0.190, 1.000, 0.560, 1.000);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}


/*image*/
.Anime a:after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 1;
  padding-left: 330px;
  right: 0;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
}
/* 1-10 Hover Rules */

/*image on the side*/
.Anime a.one:hover:after {
  top: 0;
}.Anime a.one:after { 
  background-image: url('../../Assets/Image buttons/SteinsGate.png');
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: contain;
}

/*number on the side*/
.Anime a.one:hover:before {
  top: 0;
}.Anime a.one:before { /**/
  background-color: #C9AE5D;
  color: #ffffff;
}



/*image title*/
.Anime a.two:hover:after {
  top: 0;
}.Anime a.two:after { 
  background-image: url('../../Assets/Image buttons/kekkeisensen.png');
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: contain;
}

/*number on the side*/
.Anime a.two:hover:before {
  top: 0;
}.Anime a.two:before {
  background-color: #BEBEBE;
  color: #ffffff;
}

/*image title*/
.Anime a.three:hover:after {
  top: 0;
}.Anime a.three:after { 
  background-image: url('../../Assets/Image buttons/Attack-On-TitanLogo.png');
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: contain;
}

/*number on the side*/
.Anime a.three:hover:before {
  top: 0;
}.Anime a.three:before {
  background-color: #8B5A2B;
  color: #ffffff;
}

/*image title*/
.Anime a.four:hover:after {
  top: 0;
}.Anime a.four:after { 
  background-image: url('../../Assets/Image buttons/tokyo-ghoul-logo.png');
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: contain;
}

/*number on the side*/
.Anime a.four:hover:before {
  top: 0;
}

/*image title*/
.Anime a.five:hover:after {
  top: 0;
}.Anime a.five:after { 
  background-image: url('../../Assets/Image buttons/one-punch-man-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0%;
  z-index: 10;
}

/*number on the side*/
.Anime a.five:hover:before {
  top: 0;
}

/*image title*/
.Anime a.six:hover:after {
  top: 0;
}.Anime a.six:after { 
  background-image: url('../../Assets/Image buttons/bizarre-adventure-jojo-bizarre-adventure-title-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40%;
}

/*number on the side*/
.Anime a.six:hover:before {
  top: 0;
}

/*image title*/
.Anime a.seven:hover:after {
  top: 0;
}.Anime a.seven:after { 
  background-image: url('../../Assets/Image buttons/one-piece.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40%;
}

/*number on the side*/
.Anime a.seven:hover:before {
  top: 0;
}

/*image title*/
.Anime a.eight:hover:after {
  top: 0;
}.Anime a.eight:after { 
  background-image: url('../../Assets/Image buttons/fullmetal.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30%;
}

/*number on the side*/
.Anime a.eight:hover:before {
  top: 0;
}


/*image title*/
.Anime a.nine:hover:after {
  top: 0;
}.Anime a.nine:after { 
  background-image: url('../../Assets/Image buttons/death-note-removebg-preview.png');
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: contain;
}

/*number on the side*/
.Anime a.nine:hover:before {
  top: 0;
}

/*image title*/
.Anime a.ten:hover:after {
  top: 0;
}.Anime a.ten:after { 
  background-image: url('../../Assets/Image buttons/Dr._Stone_Logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

/*number on the side*/
.Anime a.ten:hover:before {
  top: 0;
}

/*image title*/
.Anime a.eleven:hover:after {
  top: 0;
}.Anime a.eleven:after { 
  background-image: url('../../Assets/Image buttons/Dr._Stone_Logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
}

/*number on the side*/
.Anime a.eleven:hover:before {
  top: 0;
}

/*image title*/
.Anime a.twelve:hover:after {
  top: 0;
}.Anime a.twelve:after { 
  background-image: url('../../Assets/Image buttons/jujutsu-Kisen.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px;

}

/*number on the side*/
.Anime a.twelve:hover:before {
  top: 0;
}

/*image title*/
.Anime a.thirteen:hover:after {
  top: 0;
}.Anime a.thirteen:after { 
  background-image: url('../../Assets/Image buttons/demon-slayertitle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40%;
}

/*number on the side*/
.Anime a.thirteen:hover:before {
  top: 0;
}


@media screen and (max-width: 480px) {
  .Anime a {
    max-height: 60vh;
    max-width: 100vw;
    transition: 1s;
  }
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
  .Anime a {
    max-height: 80vh;
    max-width: 90vw;
  }
}



  .Title {
    margin: -79px 270px;
}

.textContainer2{
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}



.text-section {
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.text-area {
  width: 100%;
  height: 90px;
  margin: 70px -19px;
  min-height: 50px;
  border: 0.5px solid rgb(134, 134, 134);
}

.text-section2 {
  width: 100%;
  height: 150px;
  margin: -19px;
  text-align: center;
  font-size: 18px;
  border: 0.5px solid rgb(134, 134, 134);
}



.text-section.show {
  height: auto;
  opacity: 1;
}

.box2 {
  width: 100%;
  overflow: hidden;
  min-height: 72vh;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 0.5px solid rgb(134, 134, 134);
  transition: 1s;
  padding: 20px;
}

